@media (max-width:1200px)
    .container 
        max-width: 980px
    .header 
        padding: 25px 0 20px 0
    .book 
        &-about 
            max-width: 50%
    .recommend 
        &__image 
            max-width: 140px
            height: auto
        &-list 
            &__item 
                flex-basis: 48%
        &-description 
            padding-top: 10px
            &__title 
                font-size: 20px
                line-height: 30px
                height: 60px
                overflow: hidden
            &__theme 
                margin-bottom: 15px
            &__price 
                margin-bottom: 20px
            &__heart, &__heart-1, &__heart-2, &__heart-3, &__heart-4, &__heart-5
                right: 15px
    .top 
        &__image 
            max-width: 100px
            height: auto
        &__item:last-child
            margin-bottom: 50px
        &-description 
            padding-top: 0
            &__title 
                font-size: 20px
                line-height: 26px
                height: 52px
                overflow: hidden
                margin-bottom: 5px
            &__price 
                margin-bottom: 20px
    .story 
        &-container 
            width: 900px
        &-video 
            width: 30%
            &__poster 
                height: 171px
        &-wide 
            height: 340px
@media (max-width:991px)
    .container 
        max-width: 760px
    .header 
        &-wrapper 
            flex-basis: 50%
    .book 
        &-cover 
            padding: 60px 70px
        &-about 
            &__title 
                font-size: 36px
                line-height: 44px
            &__author 
                font-size: 18px
            &__description 
                font-size: 14px
                line-height: 28px
                letter-spacing: normal
                margin: 30px 0 40px 0
            &__button 
                font-size: 14px
                line-height: 18px
                padding: 13px 25px
                margin-right: 10px
            &__demo
                font-size: 14px
                line-height: 18px
                padding: 13px 25px
    .recommend 
        flex-basis: 49%
        &-description 
            &__heart, &__heart-1, &__heart-2, &__heart-3, &__heart-4, &__heart-5
                right: 25px
        &-list 
            &__item
                max-width: 100%
                flex-basis: 100%
                &:nth-child(even)
                    display: none
    .top 
        flex-basis: 49%
    .story 
        &-video 
            &__poster 
                height: 141px
        &-container 
            width: 760px
        &-wide 
            height: 290px
@media (max-width:760px)
    body
        padding-top: 64px
    .container 
        max-width: 560px
    .header 
        padding: 20px 0 20px 0
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 99
        &__logo 
            max-width: 90px
        &__button,
        &-wrapper 
            display: none
        &__menu 
            &-button 
                display: none
                width: 24px
                height: 24px
                display: flex 
                flex-direction: column
                align-items: center
                justify-content: space-around
                background-color: transparent
                border: none
        &-mobile 
            position: fixed
            top: 64px 
            right: 0
            bottom: 0
            left: 0
            overflow: auto
            background-color: $primary
            &__container 
                display: flex
                flex-direction: column
                align-items: center
                padding: 40px 0
            &__item 
                text-align: center
                list-style: none
                margin-bottom: 30px
            &__link 
                color: $light
                text-decoration: none
            &__button 
                color: $light 
                border: 2px solid $light
                font-style: normal
                font-weight: bold
                font-size: 16px
                line-height: 22px
                padding: 12px 30px
                background-color: $secondary
                border-radius: 8px
    .menu 
        &-button
            &__line
                display: block
                width: 22px
                height: 2px
                background-color: #3A4C66
    .book 
        &__container 
            flex-direction: column
            align-items: center
        &-about 
            max-width: 100%
            display: flex
            align-items: center
            flex-direction: column
            flex-wrap: wrap
            &__title 
                margin-top: 0
                text-align: center
            &__description 
                text-align: center
            &__btn-wrapper 
                margin-bottom: 50px
        &-cover 
            width: 100%
            padding: 70px 20%
    .recommend 
        flex-basis: 55%
        &__title 
            font-size: 28px
            line-height: 36px
        &-description 
            &__title 
                font-size: 20px
                line-height: 24px
                height: 48px
        &-description 
            &__heart, &__heart-1, &__heart-2, &__heart-3, &__heart-4, &__heart-5
                right: 10px
        &-list 
            &__item
                max-width: 100%
                flex-basis: 100%
    .top 
        flex-basis: 42% 
        &__image 
            max-width: 95px
        &__title 
            font-size: 28px
            line-height: 36px
        &-description 
            flex-basis: 50%
            &__title 
                font-size: 16px
                line-height: 24px
        &__item 
            padding: 26px 12px
            &:last-child
                margin-bottom: 34px
    .story 
        &-container 
            width: 560px
        &__description 
            max-width: 100%
            flex-basis: 100% 
            text-align: center
            line-height: 25px
        &__title 
            margin-bottom: 24px
            flex-basis: 100% 
            text-align: center
        &-video 
            align-items: center
            &__poster 
                height: 106px
            &__author 
                font-size: 16px
                line-height: 20px
            &__description 
                font-size: 12px
                line-height: 20px
                margin-bottom: 16px
            &__favorite
                position: static
            &__button 
                background-size: 21px 27px
        &-wide 
            margin-top: 35px
            height: 200px
            &__poster 
                height: 210px
            &__button 
                width: 56px
                height: 56px
                background-size: 17px 22px
    .cooperation 
        padding: 50px 0 10px 0
        &__list1 
            display: none
        &__list 
            flex-wrap: wrap
            margin: 0
        &__item 
            flex-basis: 30%
            text-align: center
            margin-bottom: 40px
@media ( max-width:620px)
    .container 
        max-width: 500px
    .store 
        &__container 
            flex-direction: column
    .recommend
        flex-basis: 100%
        margin-bottom: 56px
        width: 100%
        &__title 
            text-align: center
            margin-bottom: 72px
        &__image 
            margin: 0 auto
            margin-top: -35px
            margin-bottom: 18px
        &-list 
            &__item
                display: none
                padding-bottom: 32px
                margin-bottom: 22px
                &:first-child
                    display: flex
                    flex-direction: column
        &-description 
            text-align: center
            flex-basis: 100%
            width: 100%
            &__title 
                font-size: 20px
                line-height: 24px
                margin-bottom: 12px
                height: auto
            &__theme 
                font-size: 14px
                line-height: 20px
                margin-bottom: 16px
            &__price 
                font-size: 16px
                line-height: 20px
            &__heart, &__heart-1, &__heart-2, &__heart-3, &__heart-4, &__heart-5
                right: 63px
                bottom: 38px
            &__button 
                margin-left: -40px
                padding: 7px 26px    
        &__link 
            padding: 14px 61px
            text-transform: none
    .top 
        &__title 
            text-align: center
            margin-bottom: 36px
        &__wrapper 
            width: 60%
            margin: auto
    .story 
        &-container 
            width: 500px    
@media (max-width:560px)
    .container 
        max-width: 320px
    .book 
        padding: 36px 0 56px 0
        &-cover 
            padding: 59px 70px
        &-about 
            &__title 
                font-size: 32px
                line-height: 40px
                margin-bottom: 24px
            &__author 
                font-size: 16px
                line-height: 24px
            &__description 
                margin: 32px 0 17px 0
                font-size: 16px
                line-height: 23px
            &__button 
                font-size: 16px
                line-height: 18px
                margin: 0
                padding: 9px 20px
                margin-bottom: 15px
            &__demo
                font-size: 16px
                line-height: 18px
                padding: 9px 29px
            &__btn-wrapper 
                display: flex
                flex-direction: column
                align-items: center
                margin-bottom: 36px
    .top 
        &__wrapper 
            width: 100%
    .story 
        padding: 44px 0 38px 0
        &-container 
            width: 320px
        &__title 
            font-size: 28px
            line-height: 36px
        &-video 
            flex-basis: 47%
            &:last-child 
                display: none
            &__poster 
                height: 138px
            &__poster img
                height: 100%
        &-wide 
            height: 210px
    .cooperation 
        padding: 37px 0 32px 0
        &__title 
            line-height: 30px
            margin-bottom: 29px
        &__list 
            width: 90%
            margin: auto
        &__item 
            flex-basis: 50%
            margin-bottom: 23px
        &__image 
            width: 65%
@media (max-width:320px)
    .container 
        max-width: 280px
    .recommend 
        &__image 
            max-width: 95px
            margin-bottom: 8px
            height: 137px
    .store 
        &__container 
            padding-bottom: 56px
    .top 
        &-description 
            flex-basis: 58% 
            &__title 
                width: 75%
                margin-top: 4px
                margin-bottom: 6px
                letter-spacing: -0.6px
            &__price 
                margin-bottom: 17px
        &__item
            padding-top: 20px
            padding-bottom: 17px
            &:first-child
                padding-top: 28px
            &:last-child
                margin-bottom: 40px
        &__link 
            padding-top: 20px
            padding-bottom: 20px
    .story 
        &-container 
            width: 300px
        &-wide 
            margin-bottom: 20px
        &-video 
            &__poster 
                height: 138px
            &__poster img 
                height: 100%
            &__author 
                letter-spacing: normal
                margin-top: 16px
                margin-bottom: 6px
            &__favorite 
                width: 10px