*
    box-sizing: border-box
    margin: 0
    padding: 0
body 
    font-family: 'Open Sans', sans-serif
    background-color: #ffffff
    color: $secondary
.body-scroll 
    overflow: hidden
.container
    max-width: 1140px
    margin: auto
img
    max-width: 100%
    object-fit: cover
button 
    cursor: pointer
    outline: none
    border-radius: 8px
.visually-hidden 
    display: none
.theme__slider .swiper-button-disabled 
    display: none
.unpublished-slider .swiper-button-disabled 
    opacity: 0.5
    cursor: auto
    &:hover 
        background-color: rgba(24, 59, 86, 1)
.error 
    color: #faad13
    font-weight: bold
a, button
    &:active 
        transform: scale(0.9, 0.9)
input:focus 
    outline: none
textarea:focus 
    outline: none
.to-top 
    display: block 
    position: fixed
    bottom: 40px
    right: 40px
    width: 40px
    height: 40px
    border: 1px solid $secondary 
    border-radius: 8px
    background-color: rgba(90, 113, 132, 0.1 )
    text-align: center
    padding-top: 10px
    &__arrow 
        transform: rotate(-90deg)
