*
    box-sizing: border-box
    margin: 0
    padding: 0
body 
    font-family: 'Open Sans', sans-serif
    background-color: #ffffff
    color: $secondary
.body-scroll 
    overflow: hidden
.container
    max-width: 1140px
    margin: auto
img
    max-width: 100%
    object-fit: cover
button 
    cursor: pointer
    border-radius: 8px
.visually-hidden 
    display: none
    
